<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613577985854-vqgetd3335pkqon144cbqr2e588bh6p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613577985854-vqgetd3335pkqon144cbqr2e588bh6p3</string>
	<key>API_KEY</key>
	<string>AIzaSyAcPILb_dt8Z2Xw-VQ5tkHregUwcNxWcNA</string>
	<key>GCM_SENDER_ID</key>
	<string>613577985854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielronfeinstein.theaterbae</string>
	<key>PROJECT_ID</key>
	<string>theaterbae-6d286</string>
	<key>STORAGE_BUCKET</key>
	<string>theaterbae-6d286.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613577985854:ios:05b53319cce89e9d81666f</string>
</dict>
</plist>